# Git
.git
.gitignore

# Docker
.docker

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/
